<h1>Random with Form</h1>
<form action="/random/result">
  <label for="min">Minimum:</label>
  <input id="min" name="min" type="text" placeholder="E.g. 1.5">

  <label for="max">Maximum:</label>
  <input id="max" name="max" type="text" placeholder="E.g. 4.5">

  <button>Pick random number</button>
</form>
