<h1>Square Root with Form</h1>
<form action="/square_root/result">
  <label for="number">Enter a number:</label>
  <input id="number" name="number" type="text" placeholder="What number do you want to find the square root of?">
  <button>Calculate square root</button>
</form>
