<h1>Payment with Form</h1>
<form action="/payment/result">
  <label for="apr">APR:</label>
  <input id="apr" name="apr" type="text" placeholder="E.g. 5.42">

  <label for="years">Number of years:</label>
  <input id="years" name="years" type="text" placeholder="How many years to repay?">

  <label for="principal">Principal:</label>
  <input id="principal" name="principal" type="text" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
</form>
